
csharp/.vs/Simple.Api/v15/.suo
csharp/.vs/Simple.Api/v15/Server/sqlite3/db.lock
csharp/.vs/Simple.Api/v15/Server/sqlite3/storage.ide
csharp/.vs/Simple.Api/v15/Server/sqlite3/storage.ide-shm
csharp/.vs/Simple.Api/v15/Server/sqlite3/storage.ide-wal
csharp/Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.AssemblyInfo.cs
csharp/Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.AssemblyInfoInputs.cache
csharp/Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.assets.cache
csharp/Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.csproj.CoreCompileInputs.cache
csharp/Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.csproj.FileListAbsolute.txt
csharp/Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.csprojAssemblyReference.cache
csharp/Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.RazorAssemblyInfo.cache
csharp/Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.RazorAssemblyInfo.cs
csharp/Simple.Api/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
csharp/Simple.Api/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
csharp/Simple.Api/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
csharp/Simple.Api/obj/project.assets.json
csharp/Simple.Api/obj/Simple.Api.csproj.nuget.cache
csharp/Simple.Api/obj/Simple.Api.csproj.nuget.g.props
csharp/Simple.Api/obj/Simple.Api.csproj.nuget.g.targets
csharp/Simple.Api.IntegrationTests/bin/Debug/netcoreapp2.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
csharp/Simple.Api.IntegrationTests/bin/Debug/netcoreapp2.1/xunit.runner.utility.netcoreapp10.dll
csharp/Simple.Api.IntegrationTests/bin/Debug/netcoreapp2.1/xunit.runner.reporters.netcoreapp10.dll
csharp/Simple.Api.IntegrationTests/bin/Debug/netcoreapp2.1/Simple.Api.IntegrationTests.runtimeconfig.json
csharp/Simple.Api.IntegrationTests/bin/Debug/netcoreapp2.1/Simple.Api.IntegrationTests.runtimeconfig.dev.json
csharp/Simple.Api.IntegrationTests/bin/Debug/netcoreapp2.1/Simple.Api.IntegrationTests.pdb
csharp/Simple.Api.IntegrationTests/bin/Debug/netcoreapp2.1/Simple.Api.IntegrationTests.dll
csharp/Simple.Api.IntegrationTests/bin/Debug/netcoreapp2.1/Simple.Api.IntegrationTests.deps.json
*.cache
csharp/Simple.Api.IntegrationTests/obj/Simple.Api.IntegrationTests.csproj.nuget.g.props
csharp/Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.pdb
csharp/Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.dll
csharp/Simple.Api/bin/Debug/netcoreapp2.1/Simple.Api.runtimeconfig.json
csharp/Simple.Api/bin/Debug/netcoreapp2.1/Simple.Api.runtimeconfig.dev.json
csharp/Simple.Api/bin/Debug/netcoreapp2.1/Simple.Api.pdb
csharp/Simple.Api/bin/Debug/netcoreapp2.1/Simple.Api.dll
csharp/Simple.Api/bin/Debug/netcoreapp2.1/Simple.Api.deps.json
csharp/Simple.Api/obj/Debug/netcoreapp2.1/UserSecretsAssemblyInfo.cs
csharp/Simple.Api.Tests/obj/project.assets.json
csharp/Simple.Api.Tests/obj/Simple.Api.Tests.csproj.nuget.g.props
csharp/Simple.Api.Tests/obj/Simple.Api.Tests.csproj.nuget.g.targets
csharp/Simple.Api.Tests/obj/Debug/netcoreapp2.1/Simple.Api.Tests.Program.cs
csharp/Simple.Api.Tests/obj/Debug/netcoreapp2.1/Simple.Api.Tests.pdb
csharp/Simple.Api.Tests/obj/Debug/netcoreapp2.1/Simple.Api.Tests.dll
csharp/Simple.Api.Tests/obj/Debug/netcoreapp2.1/Simple.Api.Tests.csproj.FileListAbsolute.txt
csharp/Simple.Api.Tests/obj/Debug/netcoreapp2.1/Simple.Api.Tests.csproj.CopyComplete
csharp/Simple.Api.Tests/obj/Debug/netcoreapp2.1/Simple.Api.Tests.AssemblyInfo.cs
csharp/Simple.Api.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
csharp/Simple.Api.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
csharp/Simple.Api.Tests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
csharp/Simple.Api.Tests/bin/Debug/netcoreapp2.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
csharp/Simple.Api.Tests/bin/Debug/netcoreapp2.1/xunit.runner.utility.netcoreapp10.dll
csharp/Simple.Api.Tests/bin/Debug/netcoreapp2.1/xunit.runner.reporters.netcoreapp10.dll
csharp/Simple.Api.Tests/bin/Debug/netcoreapp2.1/Simple.Api.Tests.runtimeconfig.json
csharp/Simple.Api.Tests/bin/Debug/netcoreapp2.1/Simple.Api.Tests.runtimeconfig.dev.json
csharp/Simple.Api.Tests/bin/Debug/netcoreapp2.1/Simple.Api.Tests.pdb
csharp/Simple.Api.Tests/bin/Debug/netcoreapp2.1/Simple.Api.Tests.dll
csharp/Simple.Api.Tests/bin/Debug/netcoreapp2.1/Simple.Api.Tests.deps.json
csharp/Simple.Api.Tests/bin/Debug/netcoreapp2.1/Simple.Api.pdb
csharp/Simple.Api.Tests/bin/Debug/netcoreapp2.1/Simple.Api.dll
csharp/Simple.Api.Tests/bin/Debug/netcoreapp2.1/Simple.Api.deps.json
csharp/Simple.Api.IntegrationTests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
csharp/Simple.Api.IntegrationTests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
csharp/Simple.Api.IntegrationTests/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
csharp/Simple.Api.IntegrationTests/obj/Debug/netcoreapp2.1/Simple.Api.IntegrationTests.Program.cs
csharp/Simple.Api.IntegrationTests/obj/Debug/netcoreapp2.1/Simple.Api.IntegrationTests.pdb
csharp/Simple.Api.IntegrationTests/obj/Debug/netcoreapp2.1/Simple.Api.IntegrationTests.dll
csharp/Simple.Api.IntegrationTests/obj/Debug/netcoreapp2.1/Simple.Api.IntegrationTests.csproj.FileListAbsolute.txt
csharp/Simple.Api.IntegrationTests/obj/Debug/netcoreapp2.1/Simple.Api.IntegrationTests.AssemblyInfo.cs
