
csharp/.vs/Simple.Api/v15/.suo
csharp/.vs/Simple.Api/v15/Server/sqlite3/db.lock
csharp/.vs/Simple.Api/v15/Server/sqlite3/storage.ide
csharp/.vs/Simple.Api/v15/Server/sqlite3/storage.ide-shm
csharp/.vs/Simple.Api/v15/Server/sqlite3/storage.ide-wal
csharp/Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.AssemblyInfo.cs
csharp/Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.AssemblyInfoInputs.cache
csharp/Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.assets.cache
csharp/Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.csproj.CoreCompileInputs.cache
csharp/Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.csproj.FileListAbsolute.txt
csharp/Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.csprojAssemblyReference.cache
csharp/Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.RazorAssemblyInfo.cache
csharp/Simple.Api/obj/Debug/netcoreapp2.1/Simple.Api.RazorAssemblyInfo.cs
csharp/Simple.Api/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
csharp/Simple.Api/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
csharp/Simple.Api/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
csharp/Simple.Api/obj/project.assets.json
csharp/Simple.Api/obj/Simple.Api.csproj.nuget.cache
csharp/Simple.Api/obj/Simple.Api.csproj.nuget.g.props
csharp/Simple.Api/obj/Simple.Api.csproj.nuget.g.targets
